.spot-details{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spot-details-info-description {
    word-wrap: break-word;
}
.spot-details-info{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spot-details-info> *{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spot-details-header{
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    border-bottom: .2rem solid var(--red);
    border-radius: 1rem;
}
.spot-details-header > *{
    /* padding-left: 1rem; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.spot-details-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.spot-details-images-hero{
    display: flex;
    align-items: center;justify-content: center;
}
.spot-details-images-support{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,1fr);
}
.spot-details-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spot-details-info-reserve{
    margin: 1rem;
    border: 1px solid var(--grey);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 10;
    color: rgba(0, 0, 0, 0.733);
    padding: 20px;
}
.spot-details-info-reserve-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spot-details-info-reserve-price{
    border-bottom: 1px solid var(--grey);
}
.spot-details-info-reserve-reviews-stars{
    border: 1px solid var(--grey);
    border-radius: 1rem;
    border-radius: 4%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.reserve-spot{
    width: 18rem;
    padding: .7rem;
    margin: 2rem;
    border-bottom: .2rem solid var(--grey);
    background-color: var(--red);
    border-radius: 1rem;
}
.post-review{
    display: flex;
    margin: 1rem;
    padding: .7rem;
}
.spot-details-reviews{
    grid-area: d;
    padding-top: 3rem;
    border-radius: 1rem;
    border-top: .2rem solid var(--red);
    margin: 1rem;
    display: flex;
    justify-content: left;
}
.spot-details-reviews-content{
    display: flex;
    justify-content: space-between;
}
.spot-details-reviews-content-stars{
    display: flex;
    justify-content: left;
    align-content: center;
}
.dot{
    padding: 1rem;
    width: 1rem;
}
#dot{
    font-size: 1rem;
}
.spot-details-reviews-content-stars > *{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spot-details-reviews-content-reviews{
    display: flex;
    justify-content: right;
    align-content: center;
}
@media screen and (max-width: 1250px){
    .spot-details{
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .spot-details > *{
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .spot-details-images{
        display: flex;
        flex-direction: column;
    }
    .spot-details-images-hero{
        width: 50%;
    }
    .spot-details-header{
        text-align: center;
    }
    .spot-details-info-section-one{
        max-width: 700px;
    }
}
@media screen and (max-width: 768px){
    body{
        max-width: 400px;
    }
    #root{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .spot-details{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .spot-details-info-section-one{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .spot-details-info{
        display: flex;
        flex-direction: column;
    }
    .spot-details-info-reserve > *{
        display: flex;
        flex-direction: column;
    }
}
