.spot-details{
    width: 1000px;
}
.spot-details-section{
    width: 100%;
    border: 10px solid black;
}
@media screen and (max-width: 1250px){
    .spot-details > *{
        display: flex;
        flex-direction: column;
    }
    .spot-details-images{
        display: flex;
        flex-direction: column;
    }   
}
.spot-details-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}
.spot-details-header > *{
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.spot-details-images{
    border: 10px solid purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.spot-details-images-hero{
    border: 10px solid yellow;
    display: flex;
    align-items: center;justify-content: center;
    width: 70%;
}
.spot-details-images-support{
    display: flex;
    align-items: center;
    justify-content: center;
    border:10px solid pink;
    width: 100%;
}
.spot-details-images-support-cards{
    border: 1px solid blue;
    display: grid;
    grid-template-areas:             
        "b a"            
        "b a"            
        "b a";
    width: 100%;
}
.spot-details-images-support-cards > img{
    width: 20rem
}
.spot-details-info{
    grid-area: c;
    display: grid;
    grid-template-areas: 
        "a b"
        "c b";
    margin: 20px;
}
.spot-details-info-title{
    grid-area: a;
}
.spot-details-info-description{
    grid-area: c;
}
.spot-details-info-reserve{
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid burlywood;
    border-radius: 4%;
    font-weight: 10;
    color: rgba(0, 0, 0, 0.733);
    padding: 20px;
}
.spot-details-info-reserve-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spot-details-info-reserve-reviews-stars{
    width: 10rem;
    border: 1px solid rgb(255, 82, 82);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.spot-details-reviews{
    grid-area: d;
    border: 1px solid rgb(255, 183, 0);
    display: flex;
    justify-content: left;
}
.spot-details-reviews-content{
    display: flex;
    justify-content: space-between;
}
.spot-details-reviews-content-stars{
    display: flex;
    justify-content: left;
    align-content: center;
}
.dot{
    padding: 1rem;
    width: 1rem;
}
#dot{
    font-size: 1rem;
}
.spot-details-reviews-content-stars > *{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spot-details-reviews-content-reviews{
    display: flex;
    border:1px solid sienna;
    justify-content: right;
    align-content: center;
}