.buttons{
 display: flex;
 width: 100px;
 justify-content: space-between;
}
.spot-cards-section-header{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.manage-wrapper > *{
 display: flex;
 flex-direction: column;
}
.manage{
 width: 100%;
}
.manage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spot-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
