.delete-a-spot{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    border-radius: 11%;
}
.delete-a-spot > h3{
    padding: 10px;
}
#delete-button{
    border: 1px solid rgb(255, 0, 0);
    border-radius: .3em;
    background-color: rgb(255, 134, 134);
    color: rgba(0, 0, 0, 0.89);
    font-size: 15px;
    height: fit-content;
}
#delete-button:hover{
    box-shadow: 1px 1px 1px rgb(229, 255, 0);
    filter: brightness(150%)
}
.delete-buttons{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.delete-buttons > *{
    margin: 10px;
}