.modal-material{
  display: flex;
  overflow:scroll;
  justify-content: center;
 }
.modal-material > *{
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: .21rem;
  background: var(--grey);
  color: var(--red);
  border: .11rem solid var(--blue);
  height: fit-content;
}
.modal-material > button{
  height: 4rem;
}
#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:scroll;
    height:100%;
}
#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
#modal-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 10;
  color: rgba(0, 0, 0, 0.733);
  position: absolute;
  background-color:rgb(255, 255, 255);
}
