#manage{
 border: none;
 padding: .5rem;
 margin: .5rem;
 border-radius: 1rem;
 background: var(--grey);
 color: var(--red);
 font-weight: bolder;
 height: fit-content;
}
.modal-material{
  width: 100%;
}
.modal-material > *{
    border: none;
    width: 100%;
    padding: 1rem;
    background: var(--grey);
    height: fit-content;
  }
