.spot-review{
    box-sizing: border-box;
    margin-top: 10px;
    border: .1rem solid var(--grey);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    width: 70%;
}
#spot-review-button{
    width: 10%;
}
.spot-review > *{
    box-sizing: border-box;
}
