.review-modal{
    border-radius: 11%;
}
.user-information-post-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.form-row-data-post-review{
    display: flex;
}
.form-row-data-post-review-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-information > label > input{
    width: 90%;
}