/* ------------SPOT CARDS------------ */
.spot-cards-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.spot-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 21%;
    margin: 15px;
    border:1px solid #CEEDC7;
}
.spot-card > *{
    width: 70%;
}
.nav-link{
    /* width: 100%; */
    border:1px solid #CEEDC7;
}
.nav-link-info-primary{
    border: 1px dotted rgb(234, 0, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 10px;
    height: 20px;
}
.nav-link-info-primary > div > i{
    font-size: 10px;
    color: red;
}
.nav-link-info-secondary{
    border: 1px dotted rgb(234, 0, 255);
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
}
/* ------------SPOT CARDS------------ */
/* MANAGE CARD */
.manage-card{
    border: 1px solid rgb(255, 65, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
}