.tooltip{
    display:flex;
    align-items: center;
    justify-content: center;
}
.tooltip-text{
    border-radius: 0.1em;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: .2em;
}
.spot-cards-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 3rem;
    column-gap: 3rem;
    align-items: center;
    justify-content: center;
}
.spot-card{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: transform .23s;
}
.spot-card:hover{
    transform: translateY(-.23rem);
}
.spot-card:hover .tooltip-text{
    filter:brightness(100.00000000001%);
    background-color: var(--grey);
    color: var(--red);
    font-weight: bold;
    font-size: .9rem;
    visibility: visible;
}
.nav-link{
    height: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 0.1rem solid var(--blue);
    box-shadow: 0 .2rem .2rem var(--grey);
}
.nav-link:hover{
    filter:brightness(100.1%);
    box-shadow: 0 .7rem 1.2rem var(--grey);
    font-weight: bold;
}
.nav-link:hover .image-container img{
    filter:brightness(105%);
}
.nav-link-info{
    width: 90%;
}
#card-stars{
    display: flex;
    align-items: center;
}
#stars-label{
    margin: .3rem;
}
.primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primary > div > i{
    font-size: 10px;
    color: var(--red);
}
.secondary{
    display: flex;
    justify-content: flex-start;
}
.spot-details-images-support-cards > .image-container > img{
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.432);
}
.manage-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1440px){
    .spot-cards-section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .spot-details-images-support-cards{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 1055px){
    .spot-cards-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 768px){
    .spot-cards-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 425px){
    .spot-cards-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}