.tooltip{
    display:flex;
    align-items: center;
    justify-content: center;
}
.tooltip-text{
    border-radius: 0.1em;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: .2em;
}
.spot-cards-section{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.spot-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spot-card:hover .tooltip-text{
    background-color: rgb(233, 233, 233);
    filter:brightness(150%);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.1rem;
    visibility: visible;
}
.nav-link:hover{
    background-color: rgba(255, 240, 240, 0.425);
}
.nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    border: 0.1px solid rgba(0, 0, 0, 0.151);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.432);
    margin: 1rem;
}
.nav-link-info-primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 10px;
    height: 20px;
}
.nav-link-info-primary > div > i{
    font-size: 10px;
    color: red;
}
.nav-link-info-secondary{
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
}
/* ------------SPOT CARDS------------ */
/* MANAGE CARD */
.manage-card{
    border: 1px solid rgb(255, 65, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1250px){
    .spot-cards-section{
        width: 1000px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    } 
}
@media screen and (max-width: 1055px){
    .spot-cards-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    } 
}
@media screen and (max-width: 768px){
    .spot-cards-section{
        display: flex;
        flex-direction: column;
    } 
}