.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 13rem;
}
.image-container > img{
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.large-spot-card-image > img{
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}