.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 18rem;
}
img{
    border-radius: 1rem;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 720px){
    .image-container{
        width: 11rem;
    }
}