.spot-card-image{
    display: flex;
    justify-content: center;
    padding: 5px;
}
/* TODO: MEDIA QUERIES? */
.spot-card-image > img{
    /* TODO: IMAGES*/
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
}