*{
    font-family: 'Roboto', sans-serif;
}
#root{
    border: 1px solid royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 23%;
    font-weight: 10;
    color: rgba(0, 0, 0, 0.733);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    width: fit-content;
}
#button{
    margin: 10px;
    border-radius: 7%;
    border: 1px solid rgb(230, 231, 202);
    background-color: rgba(123, 123, 123, 0.623);
    color: rgb(65, 65, 65);
    font-size: 15px;
    height: fit-content;
}
#button:hover{
    box-shadow: 1px 1px 1px rgb(202, 231, 202);
    filter: brightness(150%);
}
.errors{
    color: red;
}
