:root {
    --red: #EA5455;
    --blue: #002B5B;
    --grey: #E4DCCF;
    --beige: #fff5e453;
    --grey-too: #0044ff05;
    --purple: #f2f5fe;
    --green:  #F9F5EB;
    --black: #EA9E54;
}
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label > input{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 0.2em;
    width: 100%;
    height: 1rem;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
}
h1{
    font-weight: 550;
    color: var(--blue);
    box-shadow:
    -0.1rem -.1rem .1rem var(--black),
    -0.4rem -.4rem .1rem var(--green),
    -0.5rem -.5rem .1rem var(--red),
    -0.4rem -.4rem .1rem var(--blue),
    -.42rem -.42rem .12rem var(--blue),
    0.1rem .1rem .1rem var(--blue),
     0.4rem .4rem .1rem var(--green),
     0.4rem .4rem .1rem var(--red),
     0.4rem .4rem .1rem var(--blue),
     .5rem .5rem .5rem .1rem var(--grey);
    background-color: var(--beige);
    padding:.5rem;
}
#subtitle{
    font-weight: 550;
    color: var(--blue);
    border-bottom: 1px solid var(--black);
    padding:.2rem;
}
h2{
    font-weight: 450;
    color: var(--blue)
}
h3:hover{
    filter: saturate(3);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    width: fit-content;
}
.errors{
    color: var(--red);
    margin-top: 1rem;
    padding:1rem;
}
#button{
    border: 1px solid var(--grey);
    color: var(--red);
    font-size: 1rem;
    height: fit-content;
    border-radius: 1rem;
    padding: .77rem;
    margin-bottom: 1rem;
    width: 70%;
}
#button:hover{
    box-shadow: 1px 1px 1px var(--grey);
    background-color: rgba(255, 56, 93, 0.027);
}
