#root{
    /* border: 10px solid salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(169, 169, 169);
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    z-index: 1;
}
form{
    font-weight: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 150px;
    color: rgba(0, 0, 0, 0.733);
    z-index: 1;
}
#login{
    border-radius: 7%;
    border: 1px solid rgba(202, 231, 202, 0.205);
    background-color: rgba(167, 185, 187, 0.623);
    color: rgba(0, 0, 0, 0.89);
    font-size: 15px;
    width: 100px;
    height: fit-content;
    z-index: 1;
}
#login:hover{
    box-shadow: 1px 1px 1px rgb(202, 231, 202);
    filter: brightness(150%)
}
#square{
    position: absolute;
    border: 1px solid red;
    top: 1px;
    height: 100px;
    width: 100px;
    transform: rotate(110deg);
}
#square2{
    position:absolute;
    top: 10px;
    border: 1px solid red;
    height: 100px;
    width: 100px;
    transform: rotate(120deg);
}
#square3{
    position:absolute;
    border: 1px solid red;
    top: 20px;
    height: 100px;
    width: 100px;
    transform: rotate(130deg);
}
#square4{
    position:absolute;
    border: 1px solid red;
    height: 100px;
    top: 10px;
    width: 100px;
    transform: rotate(140deg);
}
#square*{
    background-color: azure;
}
*[id^='square']{
    background-color: rgba(91, 255, 255, 0.151);
}
*[id^='square']:hover{
    transform: rotate(0.5turn);
}