.mobile-menu{
    display: none;
    /* padding: 1.7rem 1rem 1.7rem 1rem; */
    padding: 0;
    font-size: .01rem;
}
#logo-mobile{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-bar-conditional-content-mobile{
    margin: 0;
    /* padding: 1.7rem 1rem 1.7rem 1rem; */
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px){
    .mobile-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
    .mobile-menu{
        box-shadow: -0.1rem -.1rem .1rem var(--green),-0.11rem -.11rem .1rem var(--red),-0.3rem -.3rem .3rem var(--grey),0.1rem .1rem .1rem var(--grey),0.1rem .1rem .2rem var(--green),0.1rem .1rem .1rem var(--red),.23rem .23rem .1rem var(--blue);
        /* border: .21rem solid var(--red); */
        border-radius: 23%;
        width: 55vh;
    }
}
