.mobile-menu{
    border: .2rem solid var(--blue);
    display: none;
    /* padding: 1.7rem 1rem 1.7rem 1rem; */
    padding: 0;
    margin: 0;
    width: 100vh;
    height: 25vh;
    box-shadow: -0.1rem -.1rem .1rem var(--green),-0.11rem -.11rem .1rem var(--red),-0.3rem -.3rem .3rem var(--grey),0.1rem .1rem .1rem var(--grey),0.1rem .1rem .2rem var(--green),0.1rem .1rem .1rem var(--red),.23rem .23rem .1rem var(--blue);
}
.profile-dropdown-mobile{
    color: var(--red);
}
.profile-dropdown-mobile{
    z-index: 1;
    top:0;
    right: 1px;
    border: 1px solid red;
    width: 11rem;
    padding: 1rem;
    margin-right: 3rem;
}
#logout > a{
    background-color: var(--green);
}
#logo-mobile{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-mobile{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
@media screen and (max-width: 768px){
    .mobile-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
}
