.logo{
    font-size: 2rem;
    font-weight: bolder;
}
#profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profile-menu{
    position: relative;
    border: none;
    margin: 10px;
}
#profile-bruh{
    display: flex;
    align-items: center;
}
.profile-dropdown{
    position: absolute;
    top: 7rem;
    background-color: var(--green);
    border: 1px solid var(--blue);
    border-radius: 1rem;
    padding: 1rem;
}
.conditional-content{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.conditional-content > li{
  border: 1px solid var(--blue);
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.profile-menu > *{
    color: var(--grey);
}
.hidden{
    display: none;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 0;
    margin: 0;
}
.nav-bar-conditional-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
    transition: transform .23s;
}
/* .nav-bar-conditional-content:hover{
    transform: scale(1.1);
    /* border: .35rem solid var(--green); */
    /* filter: saturate(3); */ */
/* } */
.nav-bar-conditional-content > *{
    padding: 1rem;
}
.nav-bar-conditional-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar-conditional-content > *{
    border-radius: 1rem;
    margin: 1rem;
    padding: 1.3rem .7rem;
    transition: transform .23s ease-in-out;
}
/* .nav-bar-conditional-content > *:hover{
    filter: saturate(1.1);
    transform: scale(1.001);
} */
#profile {
    margin: 0;
}
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul > * {
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
}
a {
    color: var(--red);
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
}
li {
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
i {
    color: var(--red);
    padding: 0.3rem;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
}
#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: transform .23s;
}
/* #logo:hover {
    filter: saturate(3);
    transform: translateY(-.23rem);
    border: .35rem solid var(--green);
} */
#logo:hover .fa-yin-yang{
    transform: scale(1.1);
}
.fa-yin-yang{
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey);
    transition: transform .23s;
}
.fa-yin-yang:hover{
    filter: saturate(2);
}
.fas.fa-user-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .23s;
}
.fa-user-circle:hover{
    cursor: pointer;
    /* filter: saturate(2); */
    transform: scale(1.5);
}
#new-spot > a{
    transition: transform .23s;
}
/* #new-spot > a:hover{
    transform: scale(1.1);
} */
#logout{
    border: none;
    margin: .5rem;
}
.logout{
    border: 0.1rem solid var(--red);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    height: fit-content;
    transition: transform .23s ease-in-out;
}
/* .logout:hover{
    filter: saturate(2);
    transform: scale(1.04);
} */
@media screen and (max-width: 1250px){
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (max-width: 768px){
    #profile-bruh{
        display: flex;
        flex-direction: column;
    }
    .nav-bar{
        display: none;
    }
    #profile-bruh{
        border: none;
    }
}
