.profile-menu{
    background-color: white;
    border: none;
}
.nav-item{
    width: 3rem;
}
.profile-menu > *{
    color: var(--grey);
}
.hidden{
    display: none;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin:0;
    padding: 0;
}
.conditional-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav-bar-conditional-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--green);
    border-radius: 1rem;
    margin: 1rem;
}
.nav-bar-conditional-content > *{
    padding: 1rem;
}
.profile-dropdown{
    padding: 0;
}
#profile{
    padding: 1rem;
    margin: 0;
    width: 100%;
}
.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul > *{
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
}
a{
    color: var(--red);
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
}
li{
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
i{
    color: var(--red);
    padding: 0.3rem;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
#logo:hover{
    font-weight: bold;
    filter: saturate(4);
}
.fa-yin-yang{
    height: 1rem;
    width: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey);
}
.fa-user-circle{
    height: 1rem;
    width: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-user-circle:hover{
    cursor: pointer;
}
#new-spot:hover{
    font-weight: bold;
    filter: saturate(4);
}
#new-spot:hover >{
    font-weight: bold;
    filter: saturate(4);
}
.nav-bar-conditional-content:has(#new-spot:hover) { 
    font-weight: bold;
    filter: saturate(4);
}
.nav-bar-conditional-content:has(.fa-user-circle:hover) { 
    font-weight: bold;
    filter: saturate(4);
}
#logout{
    border: none;
    margin: .5rem;
}
#manage{
    border: none;
    padding: .5rem; 
    margin: .5rem;
    border-radius: 1rem;
    background: var(--grey);
    color: var(--green);
    height: fit-content;
}
.logout{
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--red);
    height: fit-content;
}
.logout:hover{
    filter: brightness(150%);
}
@media screen and (max-width: 1250px){
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}